<div class="container profile-container">
<h1>Create Event</h1>
<%= simple_form_for(@event) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file, label: "Image of activity" %>
  <%= f.input :detail, as: :text %>
  <%= f.input :category %>
  <%= f.input :date, as: :date %>
  <%= f.input :time, as: :time %>
  <%= f.input :address, as: :string %>
  <%= f.input :spots, as: :integer %>
  <%= f.input :private, as: :boolean, as: :radio_buttons %>
  <%= f.button :submit, "Create Event", class: 'btn btn-banner cool-btn' %>
<% end %>
</div>
