<%# ----------------------- %>
<div class="container">
  <% if user_signed_in? %>
    <h1 class="mt-5" id="header-font">Welcome, <%= current_user.first_name %> 👋</h1>
  <% end %>
  <div class="d-flex mt-4 event-main-container">
    <div class="map-container" >
      <div data-controller="map"
        id='map'
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        style='width: 100%; height: 600px;'>
      </div>
    </div>
    <div class="event-list">
      <% if !@dates_upcoming.empty? %>
        <% @dates_upcoming.each_with_index do |date,i| %>
          <div class="date">
            <% if Date.today == date %>
              <h3>Today</h3>
            <% else%>
              <h3><%= date.strftime("%A, %B %d") %></h3>
            <% end %>
          </div>
          <% events = @events_upcoming.select { |event| event.date == date}.sort_by(&:time) %>
          <% events.each_with_index do |event,i| %>
            <% accepted_attendance_count = Attendance.where(event:event, status:"accepted").count %>
            <%= link_to event_path(event), class:"d-flex flex-column link" do %>
              <div class="event-container" id= "event_<%= i %>">
                <div class="event-first-container">
                  <% if event.photo.key.nil? %>
                    <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="image place holder">
                  <% else %>
                    <%= cl_image_tag event.photo.key %>
                  <% end %>
                </div>
                <div class="event-mid-container d-flex flex-column  justify-content-between">
                  <div class="d-flex justify-content-between">
                    <h6 class="date-font"><%= event.date.to_datetime.strftime("%a, %b %d") %> <%= event.time.to_datetime.strftime("%l:%M %p SST") %></h6>
                    <h6 class="dark-font">Suggested</h6>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h6 class="dark-font" ><strong><%= event.name%></strong></h6>
                    <p class="sub-font">Hosted by: <%= event.user.first_name %> <% if event.user.image.key.nil? %>
                        <img class="avatar_host" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
                      <% else %>
                        <%= cl_image_tag event.user.image.key, class:"avatar_host"%>
                      <% end %></p>
                  </div>
                  <div>
                    <p class="sub-font"><%= event.category%></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center" >
                    <div class="d-flex count-container">
                      <h6 class="sub-font"><%= accepted_attendance_count %> attendees <span class="mydot"></span></h6>
                      <% if event.spots - accepted_attendance_count <= 10%>
                        <h6 class="sub-redfont text-danger"><%= event.spots - accepted_attendance_count %> spots left</h6>
                      <% else %>
                        <h6 class="sub-redfont"><%= event.spots - accepted_attendance_count %> spots left</h6>
                      <% end %>
                    </div>
                    <div class="icon d-flex">
                      <i class="fa-solid fa-arrow-up-from-bracket fa-lg"></i>
                      <i class="fa-solid fa-star fa-lg"></i>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <%# <%= link_to event.name, event_path(event), class:"d-flex flex-column" %>
          <% end %>
        <% end %>
      <% else %>
        <div class="no-event-container-a">
          <div class="no-event">
            <img src="https://secure.meetupstatic.com/next/images/your-events/NoAttending.svg?w=384" alt="">
            <h3>No matches found</h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# <button id="click">clickme</button> %>
<%#
<div class="container">
  <h1 class="mb-2">All Events</h1>
  <% @events.each do |event| %>
  <%# <%= link_to event.name, event_path(event), class:"d-flex flex-column" %>
  <%# <% end %>
  <%# </div> %>
  <%# <div class="outer">
    <div class="inner">
    </div>
</div> %>
