<h1><%= @event.category %></h1>
<p>Hosted by</p>
<p><%= @event.name %></p>
<h4>Details</h4>
<p><%= @event.detail %></p>
<h4>Attendees (<%= @event.spots %>)</h4>

<p><%= @event.time %></p>
<h5><%= @event.category %></h5>
<p>Free</p>
<% #join %>
